html, body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  background-color: white;
}

h1 {
  font-family: "Work Sans", sans-serif;
  color: #294061;
  font-size: 2.5rem;
  line-height: 1;

}

h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

a {
  font-family: "Roboto", sans-serif;
}


/* Header section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  z-index: 10;
  position: fixed;
  background-color: #ffffff;
  border-bottom: 2px solid #D0DDDE;
}

.logo {
  display: inline-flex;
}

.logo p {
  font-size: 1.5rem;
}

.logo img {
  padding-left: 1.5rem;
}

.navigation a{
  text-decoration: none;
  color: #010101;
  padding-left: .5rem;
  padding-right: .5rem;
}

.navigation a:hover {
  color: #D0DDDE;
}

.navigation {
  padding-right: 1rem;
}

.mobile-nav {
  display: flex;
}

.mobile-nav img {
  display: flex;
}

/* Main section */

.container {
  display: flex;
  flex-direction: column;
}

/* Banner section */

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.5rem;
  background-color: #D0DDDE;
  margin-top: 4rem;
}

.banner img {
  width: 60%;
  height: 100%;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.text h3 {
  padding-bottom: 1rem;

}

.button {
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #294061;
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  border-radius: .2rem;
  padding: .5rem;
}

.banner a:hover {
  background-color: #18263a;
}

/* Details section */

.details {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
}

.left img {
  width: 100%;
}

.left {
  display: block;
  width: 60%;
  padding-right: 1.5rem;
}

.right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.info {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-left: .1rem solid #D0DDDE;
  border-bottom: .1rem solid #D0DDDE;
}

.text p {
  font-size: .85rem;
}

.details .text a {
  font-size: .85rem;
  color: #294061;
}

.details .text a:hover {
  color: #D0DDDE;
}

.info .text h3 {
  padding-bottom: 0;
}

.info img {
  width: 35%;
  height: 100%;
}

#campus {
  padding-top: 1rem;
}


/* Learning modules section */

.learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 3.5rem;
  background-color: #D0DDDE;
}

.learning h2 {
  text-align: center;
  padding-bottom: 2rem;
}

.row {
  display: flex;
  max-height: 45%;
}

.modules {
  display: flex;
  flex-direction: column;
  max-height: 95%;
}

#modules {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 30%;
}

.modules img {
  width: 100%;
  height: auto;
}

.text1 {
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: #FEFEFE;
  height: 6rem;
  margin-bottom: 2rem;
}

.text1 h3 {
  margin-top:0;
  margin-bottom: 1rem;
}

.text1 p {
  margin-top: .5rem;
  margin-bottom: 0;
  font-size: .85rem;
}

/* Thesis section */

.thesis {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.thesis h2 {
  text-align: center;
  padding-bottom: 2rem;
}

.thesis2 {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.thesis2 .right .info {
  padding-bottom: 1rem;
}


/* Footer section */

footer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #294061;
  color: #FEFEFE;
}

footer p {
  padding-left: 1.5rem;
  font-size: .85rem;
}

footer a {
  text-decoration: none;
  padding-left: 1rem;
  color: #FEFEFE;
  font-size: .85rem;
}

footer a:hover {
  color: #D0DDDE;
}

.footer {
  padding-right: 1.5rem;
}

/* Media queries */

@media only screen and (max-width: 700px) {
  .logo  {
    display: none;
  }
  .navigation {
    display: none;
  }
  .navigation a {
    display: none;
  }
  .mobile-nav {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
  }
  .container .banner {
    flex-direction: column;
    padding-left: 0;
  }
  .container .banner img {
    width: 100%;
    padding: 0;
  }
  .banner .text {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
  .text h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .text .button {
    padding-right: 0;
    padding-left: 0;
  }

  .container .details {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .details .left {
    display: none;
  }

  .details .right {
    width: 100%;
  }

  .right .info {
    flex-direction: column;
    border: none;
    padding: 0;
  }

  .right .info img {
    width: 100%;
  }

  img.desktop {
    display: none;
    width: 100%;
  }

  .info .text {
    padding-left: 1rem;
    padding-bottom: 3rem;
  }

  .container .learning {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .learning h2 {
    margin: 0;
    padding-bottom: 1rem;
  }

  .modules .row {
    flex-direction: column;
  }

  .row #modules {
    width: 100%;
    padding: 0;
  }

  #modules img {
    display: none;
  }

  #modules .text1 {
    height: auto;
    margin-bottom: 0.5rem;
  }

  #modules .text1 h3 {
    margin-bottom: 0;
  }

  .text1 p {
    display: none;
  }

  .container .thesis {
    padding: 0;
  }

  .thesis2 .right {
    display: none;
  }

  .thesis2 .left h3{
    display: none;
  }

  .thesis2 .left p{
    display: none;
  }

  .thesis2 .left {
    width: 100%;
    padding-right: 0;
  }

  .thesis h2 {
    margin-top: 2rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }

  .thesis .thesis2 {
    padding-bottom: 1.5rem;
  }

  html footer {
    height: auto;
  }

  footer .footer {
    display: none;
  }

  footer p {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: 700px) {
  .mobile-nav {
    display: none;
  }

  img.mobile {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  #modules .text1 p {
    font-size: .73rem;
  }
  }
